.bg-about {
  // background-image: url(../../assets/);
}

.bg-about-blur {
  background-image: url(https://i.pinimg.com/originals/8e/d9/5b/8ed95bf38bc11c63890da16ba9e895e0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-grid {
  background-image: url(../../assets/grid.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;background-attachment: fixed;
  background-position: center;
}
