<main class="row bg-about mx-0 h-800">
  <div class="col-12 px-0 pt-14 d-flex justify-content-center">
    <div class="row max-w-1550 mx-0">
      <div class="col-md-6 px-0">
        <div class="bg-grid h-800"></div>
      </div>
      <div id="about" class="col-md-6 px-0 bg-about-blur">
        <div class="d-flex justify-content-center align-items-center h-100"
          style="background-color: #00000082;backdrop-filter: blur(4px);">
          <p class="text-center sam text-light h5 px-4 fw-bolder mb-0"
            style="line-height: 29px;">
            "Sou uma jovem empreendedora que vem conquistando
            espaço em sua área de atuação. Sem uma formação acadêmica, começei
            aos 16 anos, abrindo meu
            próprio negócio virtual de roupas. Com muito trabalho e dedicação,
            e hoje me destaco pela minha criatividade e visão de mercado,
            e estar sempre buscando novas tendências e oportunidades para inovar
            em minha
            vida. Sou também conhecida por meu trabalho voluntário em
            minha comunidade, contribuindo para projetos sociais e ambientais.
            Minha história é um exemplo de como a juventude pode se destacar no
            mundo
            empresarial, com determinação e paixão por trabalhar."
            <br/>
              <br/>
                - {{year}} -
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
