<main class="row h-800 bg-experience">
  <div class="col-12 py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1>Experiêcia</h1>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <div class="cart py-5 bg-dark max-w-500  w-100 shadow">
            <div class="w-100 overflow-x-scroll">

            </div>
            <div clas="max-w-500">
            </div>
            <div class="w-100 px-5">
              <p class="d-flex mb-0 pb-0 justify-content-between">
                <span>jjjjj</span>
                <span>jjjjj</span>
                <!-- <div style="background-image: url({{item.img}});" class="bg-experience-card w-75 h-100"></div> -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
