<div class="carde">
  <div class="banner">
   <div class="photo"></div>
  </div>
  <div class="menu">
  </div>
  <h2 class="name text-dark">Ana Quérem Hapúque  A. Vidal</h2>
  <div class="title">CONTATOS</div>
  <div class="actions">
    <div class="follow-info text-center justify-content-center">
      <h2 class="d-flex align-items-center justify-content-center w-100">
        <a role="button"><span>(61) 99442-2745</span><small>Tel:</small></a>
      </h2>
      <h2 class="d-flex align-items-center justify-content-center w-100">
        <a role="button"><span>AnaVidal207@gmail.com</span><small>Email</small></a>
      </h2>
    </div>
    <a href="https://www.instagram.com/a_n.n_4/" target="_blank" class="follow-btn text-light text-decoration-none">
      <button class="d-flex justify-content-center h1 mb-0 align-items-center"> <i class="bi h1 mx-2 mb-0 bi-instagram"></i> Instagram</button>
    </a>
  </div>
</div>
