@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
.carde {
  background-color: #fff;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);
}
.carde .banner {
  background-image: url(../../assets/montage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 11rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}
.carde .banner svg {
  background-color: #fff;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 50%;
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.carde .banner svg:hover {
  transform: translateY(50%) scale(1.3);
}
.carde .menu {
  width: 100%;
  height: 5.5rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}
.carde h2.name {
  text-align: center;
  padding: 0 2rem 0.5rem;
  margin: 0;
}
.carde .title {
  color: #a0a0a0;
  font-size: 0.85rem;
  text-align: center;
  padding: 0 2rem 1.2rem;
}
.carde .actions {
  padding: 0 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  order: 99;
}
.carde .actions .follow-info {
  padding: 0 0 1rem;
  display: grid;
}
.carde .actions .follow-info h2 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}
.carde .actions .follow-info h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}
.carde .actions .follow-info h2 a span {
  color: #1c9eff;
  font-weight: bold;
  transform-origin: bottom;
  transform: scaleY(1.3);
  transition: color 100ms ease-in-out;
}
.carde .actions .follow-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}
.carde .actions .follow-info h2 a:hover {
  background-color: #f2f2f2;
}
.carde .actions .follow-info h2 a:hover span {
  color: #007ad6;
}
.carde .actions .follow-btn button {
  color: inherit;
  font: inherit;
  font-weight: bold;
  background-color: var(--pattern);
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.carde .actions .follow-btn button:hover {
  background-color: #efb10a;
  transform: scale(1.1);
}
.carde .actions .follow-btn button:active {
  background-color: var(--pattern);
  transform: scale(1);
}
.carde .desc {
  text-align: justify;
  padding: 0 2rem 2.5rem;
  order: 100;
}

.photo{
  width: 100px;
  height: 100px;
  border: 3px solid white;
  top: 31%;
background-image: url(../../assets/ana5.jpg);  position: relative;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  border-radius: 10rem;
  z-index: 10;
}
