.a {
    color: inherit;
    text-decoration: none;
  }

  .a {
    background:
      linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgb(255, 255, 255)
      ),
      linear-gradient(
        to right,
        #00000000,
        #af781e,
        #d5a353,


    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
  }

  .a:hover {
    background-size: 0 3px, 100% 3px;
  }

// contact

.carde {
  background-color: #fff;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5);
}
.carde .banner {
  background-image: url("https://images.unsplash.com/photo-1545703549-7bdb1d01b734?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 11rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}
.carde .banner svg {
  background-color: #fff;
  width: 8rem;
  height: 8rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  border-radius: 50%;
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.carde .banner svg:hover {
  transform: translateY(50%) scale(1.3);
}
.carde .menu {
  width: 100%;
  height: 5.5rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
}
.carde .menu .opener {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}
.carde .menu .opener:hover {
  background-color: #f2f2f2;
}
.carde .menu .opener span {
  background-color: #404040;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: calc(50% - 0.2rem);
  border-radius: 50%;
}
.carde .menu .opener span:nth-child(1) {
  top: 0.45rem;
}
.carde .menu .opener span:nth-child(2) {
  top: 1.05rem;
}
.carde .menu .opener span:nth-child(3) {
  top: 1.65rem;
}
.carde h2.name {
  text-align: center;
  padding: 0 2rem 0.5rem;
  margin: 0;
}
.carde .title {
  color: #a0a0a0;
  font-size: 0.85rem;
  text-align: center;
  padding: 0 2rem 1.2rem;
}
.carde .actions {
  padding: 0 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  order: 99;
}
.carde .actions .follow-info {
  padding: 0 0 1rem;
  display: flex;
}
.carde .actions .follow-info h2 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}
.carde .actions .follow-info h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}
.carde .actions .follow-info h2 a span {
  color: #1c9eff;
  font-weight: bold;
  transform-origin: bottom;
  transform: scaleY(1.3);
  transition: color 100ms ease-in-out;
}
.carde .actions .follow-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}
.carde .actions .follow-info h2 a:hover {
  background-color: #f2f2f2;
}
.carde .actions .follow-info h2 a:hover span {
  color: #007ad6;
}
.carde .actions .follow-btn button {
  color: inherit;
  font: inherit;
  font-weight: bold;
  background-color: #ffd01a;
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.carde .actions .follow-btn button:hover {
  background-color: #efb10a;
  transform: scale(1.1);
}
.carde .actions .follow-btn button:active {
  background-color: #e8a200;
  transform: scale(1);
}
.carde .desc {
  text-align: justify;
  padding: 0 2rem 2.5rem;
  order: 100;
}
