.a {
  color: inherit;
  text-decoration: none;
}

.a {
  background:
    linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgb(255, 255, 255)),
    linear-gradient(to right,
      #00000000,
      #af781e,
      #d5a353,


    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
}

.a:hover {
  background-size: 0 3px, 100% 3px;
}

.modal-content {
  height: 100% !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    margin-right: auto;
    margin-left: auto;
    height: 90%;
  }
}

.left {
  left: 25px;
}

.right {
  right: 25px;
}

.center {
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 25px;
}

#gradient {
  background: #999955;
  background-image: linear-gradient(#DAB046 20%, #D73B25 20%, #D73B25 40%, #C71B25 40%, #C71B25 60%, #961A39 60%, #961A39 80%, #601035 80%);
  margin: 0 auto;
  width: 100%;
  height: 150px;
}

#gradient:after {
  content: "";
  position: absolute;
  background: #E9E2D0;
  left: 50%;
  margin-top: -67.5px;
  margin-left: -264px;
  padding-left: 20px;
  border-radius: 20px;
  max-width: 520px;
  height: 275px;
  width: 100%;
  z-index: -1;
}

#card {
  /* position: absolute; */
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 244px;
  border-radius: 20px;
  padding: 25px;
  /* padding-top: 0; */
  /* padding-bottom: 0; */

  /* margin-left: -250px; */
  background-color: #212529; border: 1px solid var(--pattern);
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

#card img {
  width: 150px;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
  -webkit-filter: sepia(1);
  -moz-filter: sepia(1);
  filter: sepia(1);
}

#card h2 {
  font-family: courier;
  color: #333;
  margin: 0 auto;
  padding: 0;
  font-size: 15pt;
}

#card p {
  font-family: courier;
  color: #555;
  font-size: 13px;
}

#card span {
  font-family: courier;
}

.total {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(42px);
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bodys {
  display: flex;
  outline: dashed 1px black;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
}


@media(max-width: 520px) {

  #gradient:after {
    content: "";
    position: absolute;
    background: #E9E2D0;
    left: 0;
    margin-top: -67.5px;
    margin-left: 0;
    padding-left: 20px;
    border-radius: 5px;
    max-width: 520px;
    height: 275px;
    width: 100%;
    z-index: -1;
  }
}

.border-none{
  border: none !important;
}
