<nav class="navbar navbar-expand-lg navbar-dark fixed-top h-137 bg-black-g">
  <div class="container">
    <div class="d-flex align-items-center">
      <a
        pageScroll
        href="#home"
        class="text-decoration-none text-light text-center line-19 mt-2 h1 mb-0 d-grid"
        >Ana<span class="sam color-yellow h6">v i d a l</span></a
      >
      <a
        pageScroll
        href="#home"
        class="text-decoration-none text-light px-2 sam line-19 mt-2 h6 d-grid"
        style="font-size: 12px"
        >{{ txtTime }}{{ iconTime }}</a
      >
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="d-flex align-items-center block-important">
        <a
          role="button"
          pageScroll
          href="#about"
          class="h5 a text-light mx-2 text-decoration-none"
          >Sobre mim</a
        >
        <a
          role="button"
          pageScroll
          href="#skills"
          class="h5 a text-light mx-2 text-decoration-none"
          >Habilidades</a
        >
        <a
          role="button"
          pageScroll
          href="#formation"
          class="h5 a text-light mx-2 text-decoration-none"
          >Experiência</a
        >
        <a
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#FormationModal"
          class="h5 a modal-academic text-light mx-2 text-decoration-none"
          >Formação</a
        >
        <a
          style="display: none"
          role="button"
          (click)="academic()"
          class="h5 a block-important text-light mx-2 text-decoration-none"
          >Formação</a
        >
        <a
          role="button"
          data-bs-toggle="modal"
          data-bs-target="#ContactModal"
          class="h5 a text-light mx-2 text-decoration-none"
          >Contato</a
        >
        <a
          target="_blank"
          style="background: transparent"
          href="https://www.instagram.com/a_n.n_4/"
        >
          <i
            class="bi bi-instagram text-dark h4 bg-yellow br-100"
            style="padding: 11px 12px 4px 12px !important"
          ></i>
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- modal-contact -->
<div
  class="modal fade"
  id="ContactModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ContactModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content border-none justify-content-center align-items-center bg-transparent">
      <button
      type="button"
      class="btn btn-transparent Close"
      data-bs-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true"><i class="bi text-light bi-x-lg h1 mb-0"></i></span>
    </button>
      <app-contact></app-contact>
    </div>
  </div>
</div>
<!-- Modal-academic -->
<div
  class="modal modal-academic fade"
  id="FormationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="FormationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog h-100" role="document">
    <div class="modal-content">
      <div
        style="z-index: 100"
        class="d-flex w-100 align-items-center justify-content-between"
      >
        <h3 class="text-dark mb-0 px-3">Ache o [input] Easter-egg</h3>
        <button
          type="button"
          class="btn btn-transparent Close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="bi bi-x-lg h1 mb-0"></i></span>
        </button>
      </div>

      <iframe
        style="transform: scale(2)"
        src="https://silly-entremet-afbd24.netlify.app/gaveta/"
        class="w-100 h-100"
      ></iframe>
    </div>
  </div>
</div>

<!-- modal mobile academic-->
<main class="total m-0" *ngIf="modalmobileacademic">
  <div class="w-100 bodys h-100">
    <div id="gradient"></div>
    <div id="card" class="text-light">
      <img src="../../assets/face.jpg" />
      <h2 class="text-light d-flex justify-content-between">
        <span>PSICOLOGIA</span>
        <i (click)="academic()" class="bi bi-x h1 mb-0"></i>
      </h2>
      <p class="text-light">Universidade do Distrito Federal (UDF)</p>
      <p class="text-light">
        <span class="color-yellow">Bacharelado</span> Cursando 6° Semestre de
        10° <br />
        <span class="color-yellow">2020 - 2024</span>
      </p>
      <p class="text-light">
        "2° colocada no ranking de destaque do ano de 2021 em PSICOLOGIA"
      </p>
      <span class="left bottom">tel: (61) 99442-2745</span>
      <span class="right bottom">AnaVidal207@gmail.com</span>
    </div>
  </div>
</main>
